# Virtual environment folders
env/
venv/
.venv/
ENV/
.ENV/
myenv/
new_env/


# Ignore Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd


chapter-3-ai-agent/.env
chapter-3-prompt-engineering/.env